.sprites-tiles-v1 {
  background-image: url('../images/sprites-tiles-v1.png');
  background-repeat: no-repeat;
}
.tiles-v1-1 {
  background-position: -97px 0px;
  height: 70px;
  width: 70px;
}
.tiles-v1-10 {
  background-position: 0px 0px;
  height: 84px;
  width: 93px;
  margin:-7px 0 0 -11.5px;
}
.tiles-v1-11 {
  background-position: 0px -88px;
  height: 92px;
  width: 84px;
  margin:-11px 0 0 -7px;
}
.tiles-v1-12 {
  background-position: -97px -74px;
  height: 70px;
  width: 70px;
}
.tiles-v1-2 {
  background-position: -171px 0px;
  height: 70px;
  width: 70px;
}
.tiles-v1-3 {
  background-position: -171px -74px;
  height: 70px;
  width: 70px;
}
.tiles-v1-4 {
  background-position: -245px 0px;
  height: 70px;
  width: 70px;
}
.tiles-v1-5 {
  background-position: -245px -74px;
  height: 70px;
  width: 70px;
}